<div [suiTransition]="transitionController">
<form class="ui form">
  <div class="fields">
    <div class="ten wide field">
      <label>Nome:</label>
      <input type="text" name="nome" placeholder="Informe o seu nome">
    </div>
    <div class="six wide field">
      <label>CPF/RG:</label>
      <input type="text" name="cpfRg" placeholder="Informe o seu CPF ou RG">
    </div>
  </div>
  <div class="fields">
    <div class="seven wide field">
      <label>Email:</label>
      <input type="text" name="email" placeholder="Informe o seu email">
    </div>
    <div class="five wide field">
      <label>Grau de escolaridade:</label>
      <sui-select class="selection" [options]="options" labelField="grau" [isSearchable]="searchable"
        [isDisabled]="disabled" placeholder="Não Informado" #select>
        <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
        </sui-select-option>
      </sui-select>
    </div>
    <div class="four wide field">
      <label>Ano de nascimento:</label>
      <div class="ui left icon input">
        <i class="calendar alternate icon"></i>
        <input suiDatepicker
               [pickerMode]="'date'"
               [pickerFirstDayOfWeek]="firstDayOfWeek"
               [pickerUseNativeOnMobile]="false" readonly>
    </div>
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Telefone 1:</label>
      <input type="text" name="tel1" placeholder="(99) 99999-9999">
    </div>
    <div class="field">
      <label>Telefone 2:</label>
      <input type="text" name="tel2" placeholder="(99) 99999-9999">
    </div>
    <div class="field">
      <label>Sexo:</label>
      <sui-select class="selection" [options]="options" labelField="sexo" [isSearchable]="searchable"
        [isDisabled]="disabled" placeholder="Não Informado" #select>
        <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
        </sui-select-option>
      </sui-select>
    </div>
  </div>
  <div class="ui buttons">
      <button class="ui button green" [routerLink]="['/']">Cancelar</button>
      <button class="ui button yellow" [routerLink]="['/instSaude']">Responder Anônimo</button>
      <button class="ui button teal" [routerLink]="['/instSaude']">Continuar</button>
    </div>
</form>
</div>