<div class="ui container">
        <div class="ui stackable two column grid">
          <div class="five wide column ">
      
            <div class="ui grid">
              <div class="sixteen wide column left_form">
                <figure>
                  <img src="assets/img/registration_bg.svg" alt="">
                </figure>
                <h2>{{titulo}}</h2>
                <p>{{subtitulo}}</p>
              </div>
            </div>
      
          </div>
      
          <div class="eleven wide column">
            <div class="ui grid">
            <div class="sixteen wide column right_form">
              <router-outlet></router-outlet>
            </div>
          </div>
          </div>
      
        </div>
      </div>