
<div [suiTransition]="transitionController">
    <div class="ui stackable one column grid">
      <div class="column">
  <h3 class="main_question" *ngIf="qstPagina.idQst < 6 || qstPagina.idQst > 9">{{ qstPagina.qstPrincipal }}</h3>
  <h3 class="main_question" *ngIf="qstPagina.idQst >= 6 && qstPagina.idQst <= 9">{{qstPagina.qstPrincipal1}}  {{sequencia.opcional}}  {{qstPagina.qstPrincipal2}} </h3>
  </div>
  <div class="column">
  <h4>{{ qstPagina.qstPrimaria }}</h4>
  </div>
  <div class="column">
          <sui-rating class="ui massive star rating"  [maximum]="5"></sui-rating>
          </div>

    <div class="column">
  <h4>{{ qstPagina.qstSecundaria }}</h4>
  </div>
  <div class="column">
  <sui-rating class="ui massive star rating"  [maximum]="5"></sui-rating>
</div>

    <div class="column">
    <div class="ui buttons">
      <button class="ui button green" (click)="paginaAnte()">Voltar</button>
      <button class="ui button teal" (click)="proxPagina()">Continuar</button>
    </div>
    </div>
    </div>
</div>
