<!-- <h2>Instituição de saúde</h2> -->
<!-- <h2>Dados básicos</h2> -->
<form class="ui form">
    <div class="three fields">
        <div class="field">
          <label>UF:</label>
          <sui-select class="selection" [options]="options" labelField="uf" [isSearchable]="searchable"
            [isDisabled]="disabled" placeholder="Selecione o estado" #select>
            <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
            </sui-select-option>
          </sui-select>
        </div>
        <div class="field">
          <label>Município:</label>
          <sui-select class="selection" [options]="options" labelField="municipio" [isSearchable]="searchable"
            [isDisabled]="disabled" placeholder="Selecione o município" #select>
            <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
            </sui-select-option>
          </sui-select>
        </div>
        <div class="field">
          <label>Bairro:</label>
          <sui-select class="selection" [options]="options" labelField="bairro" [isSearchable]="searchable"
            [isDisabled]="disabled" placeholder="Selecione o bairro" #select>
            <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
            </sui-select-option>
          </sui-select>
        </div>
      </div>
      <div class="two fields">
          <div class="field">
            <label>Tipo da instituição::</label>
            <sui-select class="selection" [options]="options" labelField="uf" [isSearchable]="searchable"
              [isDisabled]="disabled" placeholder="Selecione o tipo de instituição" #select>
              <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="field">
            <label>Instituição de saúde:</label>
            <sui-select class="selection" [options]="options" labelField="bairro" [isSearchable]="searchable"
              [isDisabled]="disabled" placeholder="Selecione a instituição de saúde" #select>
              <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
        </div>
    <div class="ui buttons">
        <button class="ui button green" [routerLink]="['/dadosBasicos']">Voltar</button>
        <button class="ui button teal" [routerLink]="['/tipoAtendimento']">Continuar</button>
      </div>
  </form>
