<!-- <h2>Instituição de saúde</h2> -->
<div class="content col-md-8">
  <div class="col-xs-12">
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="uf" class="col-form-label">UF:</label>
        <select class="form-control" id="uf">
          <option>Carregando...</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label for="municipio" class="col-form-label">Município:</label>
        <select class="form-control" id="municipio">
          <option value="">Selecione</option>
        </select>
      </div>
      <div class="form-group col-sm-4">
        <label for="municipio" class="col-form-label">Tipo da instituição:</label>
        <select class="form-control" id="tipo-instituicao">
          <option value="">Selecione</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="instituicao" class="col-form-label">Instituição de saúde:</label>
        <select class="form-control" id="instituicao">
          <option value="">Selecione</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="btn-group pull-right">
      <button type="button" name="backward" class="btn btn-danger prevPage" [routerLink]="['/dadosBasicos']">Voltar</button>
      <button type="button" class="btn btn-success nextPage" [routerLink]="['/tipoAtendimento']">Continuar</button>
    </div>
  </div>
</div>
