<div [suiTransition]="transitionController">
<!-- <h2>Avaliação da satisfação dos usuários com o serviço de saúde</h2>
          <p>Quality Saúde</p> -->
<p>
  Caro usuário(a),
</p>
<p>
  É com grande satisfação que lhe convidamos a participar da avaliação dos nossos serviços. Sua opinião é de grande valor para
  nós, para sempre trabalharmos para sua satisfação.
</p>
<p>
  A seguir lhe apresentaremos uma sequência de perguntas para que o senhor(a) possa avaliar como foi seu atendimento nesta
  unidade de saúde hoje. O senhor(a) irá avaliar em cada pergunta um aspecto diferente desta unidade de saúde com a sua expectativa
  antes do atendimento e com a sua satisfação depois do atendimento. Ao final, se for de seu desejo, o senhor(a) poderá complementar
  a pesquisa avaliando não só o atendimento de hoje, mas sim esta unidade de saúde de forma integral.
</p>
<p>
  Agradecemos a sua participação, e saiba que está colaborando bastante com a melhoria do serviço de saúde de seu país.
</p>
<button class="ui right floated button btnInicio" [routerLink]="['/dadosBasicos']">Iniciar</button>
</div>