<!-- <h2>Tipo de atendimento</h2> -->
<div class="ui container">

  <div class="left_form">
    <figure>
      <img src="assets/img/registration_bg.svg" alt="">
    </figure>
    <h2>Tipo de atendimento</h2>
  </div>
  <br>

  <div class="ui grid">
    <div class="doubling four column row">

      <div class="column">
        <button class=" ui button teal" (click)="opcao('0')"> Atendimento médico</button>
      </div>
      <div class="column">
        <button class=" ui button teal" (click)="opcao('1')"> Atendimento de enfermagem</button>
      </div>
      <div class="column">
        <button class=" ui button teal" (click)="opcao('2')"> Atendimento de dentista</button>
      </div>
      <div class="column ">
        <button class=" ui button teal" (click)="opcao('3')"> Setor de exames ou laboratórios</button>
      </div>
      <div class="column ">
        <button class=" ui button teal" (click)="opcao('4')"> Setor de fisioterapia</button>
      </div>
      <div class="column ">
        <button class=" ui button teal" (click)="opcao('5')"> Setor de farmácia</button>
      </div>
      <div class=" column">
        <button class=" ui button teal" (click)="opcao('6')"> Atendimento durante a internação</button>
      </div>
    </div>
  </div>
</div>


<label for="profissional">Selecione o profissional que lhe atendeu:</label>
<select class="form-control" id="profissional">
  <option value="">Sem profissional cadastrado ou instituição não selecionada.</option>
</select>





